/* Fontes google*/
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
@import url('https://fonts.cdnfonts.com/css/industry-test');
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis:YEAR@1979..2050&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis:YEAR@1979..2050&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* @import url("styles/cabeçalho.css"); */

@import url("/styles/cardEquipamento.css");
@import url("/styles/navbar.css");
@import url("/styles/hero.css");
@import url("/styles/navbar.css");



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

*:root {
    /* PALETA DE CORES */
    --branco: #ffffff;

    --gray-100: #F9FAFB;
    --gray-200: #F3F4F6;
    --gray-300: #E5E7EB;
    --gray-400: #D1D5DB;
    --gray-500: #9CA3AF;
    --gray-600: #6B7280;
    --gray-700: #4B5563;
    --gray-800: #374151;
    --gray-900: #1F2937;
    --gray-950: #111827;


    --slate-50: #f8fafc;
    --slate-100: #f1f5f9;
    --slate-200: #e2e8f0;
    --slate-300: #cbd5e1;
    --slate-400: #94a3b8;
    --slate-500: #64748b;
    --slate-600: #475569;
    --slate-700: #334155;
    --slate-800: #1e293b;
    --slate-900: #0f172a;
    --slate-950: #020617;

    --orange-300: #f6d4a6;
    --orange-400: #fac47d;
    --orange-600: #daa748;
    --orange-700: #f5a614;
    --orange-800: #f49425;
    --orange-900: #ff7300;

}


body {
    height: 100vh;
    background-color: var(--gray-200);
    font-family: "Outfit", sans-serif;
}



.logo-sp {
    height: 100px;
    width: auto;
}