@import url('https://fonts.cdnfonts.com/css/industry-test');
/* Fonte montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis:YEAR@1979..2050&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* @import url("styles/cabeçalho.css"); */
@import url("styles/cardEquipamento.css");
@import url("styles/carrossel.css");
@import url("styles/listaManuais.css");
@import url("/navbar-responsive/assets/css/styles.css");
/* Fonte montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis:YEAR@1979..2050&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
}

*:root {
    /* PALETA DE CORES */

    --branco: #ffffff;
    --laranja: #ff5405;
    --azul: #0086d0;
    --vermelho: #ff3632;
    --amarelo: #f9ae00;
    --laranja-dingli: #fc6621;
    --laranja-claro: #eaa785;
    --fundo-laranja: #fbb277;
    --fundo-cinza: #f9f9f9;
    /* fontes*/
    --body-font: 'Courier New', Courier, monospace;
}


body {
    height: 100vh;
    font: var(--body-font);
    font-family: var(--body-font);
    background-color: var(--body-color);
}

.logo-sp {
    height: 100px;
    width: auto;
}

.campoTexto .titulo {
    text-align: center;
    margin: 2em 0 2em 0;
    font-family: var(--body-font);
    font-weight: 600 !important;
}

p {
    font-size: 16px;
    font-weight: 600;
}