.card-list {
  display: flex;
  flex-direction: row;
}

.card-item {
  height: 160px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0px 0px 6px rgba(9, 9, 9, 0.463);
  margin: 1em;
  margin-bottom: 5px;
  cursor: pointer;
}

.card-image {
  height: 80%;
  width: auto;
}

.card-name {
  font-family: "Montserrat", sans-serif;
  color: rgb(0, 0, 0, 0.8);
  font-size: 16px;
  font-weight: 500;
  box-sizing: border-box;
  text-align: center;
}

.slider-wrapper {
  display: block;
  opacity: 1;
  overflow: hidden;
  max-width: 800px;
  margin: 50px 0px 30px;
}

/* ocultar swiper */
.slider-wrapper.active {
  display: none;
  opacity: 0;
  transition: opacity 3s ease-in-out;
}