.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--branco);
    position: relative;
    margin-bottom: 1em;

}


.cabecalho-icone{
    height: 30px;
    width: auto;
}

.cabecalho-imagem{
    padding: 0.5em;
}

.cabecalho-botao{
    cursor: pointer;
}

.cabecalho-imagem{
    cursor: pointer;
}

.lista-menu, input{
    display: none;
}

.lista-menu{
    position: absolute;
    top: 100%;
    width: 60vw;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.250);
}

.lista-menu_item{
    padding: 1em;
    background-color: var(--branco);
    border-bottom: 0.1px solid #ccc
}
.lista-menu_item:active{
    background-color: #ccc;
    color: var(--branco);
}

.lista-menu_link{
    text-decoration: none;
    font-size: 14px;
    color: #3c3c3c;
    opacity: 80%;
    
}

.lista-menu_link:focus{
    background-color: transparent;
    outline: none;
    color: var(--branco);
}

.container-botao:checked~.lista-menu{
    display: block;
}

