/* Container geral */
html {
    scroll-behavior: smooth;
}

.cards-container {
    padding: 1rem;
    overflow: hidden;
    background-color: var(--gray-400);
}


.cards-container h2 {
    margin-bottom: 2rem;
    color: var(--orange-900);
    font-family: "Anta", Sans-serif;
}

/* cards animations*/
.cards-container h2,
.swiper-fade-wrapper {
    opacity: 0;
}

.cards-container.visible h2 {
    animation: fadeUp 0.8s ease-out forwards;
    animation-delay: 0.2s;
}

.cards-container.visible .swiper-fade-wrapper {
    animation: fadeUp 0.8s ease-out forwards;
    animation-delay: 0.7s;
}

/* Swiper container */
.swiper {
    width: 100%;
    max-width: 17.25rem;
    height: 23rem;
}

/* Slide individual */
.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    overflow: hidden;
    padding: 0;
}

/* Card wrapper estilizado */
.card-wraper {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: var(--gray-300);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Imagem do card */
.card-wraper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}