
.botoes-lista {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-content: center;
    margin-left: 1.5em;
}

.botao-item{
    padding: 0.4em 0.4em;
    background-color: var(--laranja);
    opacity: 0.75;
    color: var(--branco);
    font-family: "Titillium Web", sans-serif;
    font-weight: 500;
    font-size: 14px;
    border-radius: 0.5em;
    width: 4em;
    text-align: center;
    margin: 0.1em;
    box-shadow: 3px 3px 3px rgba(9, 9, 9, 0.625);
}