/* configuração iphone 12 pro*/

.main{
   /* background-color: var(--branco);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.250);*/
    margin: 0.2em;
    padding: 0.2em;  
}


.fabricante{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin-bottom: 1em;
}


.fabricante__botao{
    padding: 0.4em 0.4em;
    background-color: var(--laranja);
    color: var(--branco);
    font-family: "Titillium Web", sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 0.5em;
    width: 3.3em;
    text-align: center;
    margin: 0.1em;
    box-shadow: 1px 1px 1px rgba(9, 9, 9, 0.463);
}

.container-card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6px;
    justify-items: center;
    align-items: center;
}

.card-modelo{
    text-align: center;
    background-color: var(--branco);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.132);
    border-radius: 0.5em;
    width: 80%;
    border-bottom: 4px groove var(--laranja);
        
}
.modelo-imagem{
    display: block;
    max-width: 9em;
    height: 9em;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.modelo-imagem:hover{
    transform: scale(1.1);
}

.modelo-imagem:active{
    border-radius: 10px;
    transform: scale(1.02);
}

.modelo-link:active{
    background-color: transparent;
    outline: none;
}

a { 
    color: currentColor;
}

.activ{
    box-shadow: 2px 2px 2px rgba(9, 9, 9, 0.463);
    padding: 0.8em 0.5em;
    transition: padding 0.5s ease-in-out;
}

/* ----------------------cores de fundo dos botões ------------ */
.jlg { 
    background-color: var(--laranja);
    transition: background-color 0.3s ease-in-out;
}
.genie {
    background-color: var(--azul);
    transition: background-color 0.3s ease-in-out;
}
.skj {
    background-color: var(--vermelho);
    transition: background-color 0.3s ease-in-out;
}
.haulotte {
    background-color: var(--amarelo);
    transition: background-color 0.3s ease-in-out;
}
.dingli {
    background-color: var(--laranja-dingli);
    transition: background-color 0.3s ease-in-out;
}

/* ----------------------cor de borda do card ------------ */
.jlg-card {
    border-bottom: 4px groove var(--laranja);
}
.genie-card {
    border-bottom: 4px groove var(--azul);
}
.sjk-card {
    border-bottom: 4px groove var(--vermelho);
}
.haulotte-card {
    border-bottom: 4px groove var(--amarelo);
}
.dingli-card {
    border-bottom: 4px groove var(--laranja-dingli);
}

/* -----------------configuração tablet-----------------------*/

/*

h1, h2{

}

.manuais{
    background-color: #f7f7f7;
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 10px;

}

.fabricante{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin-bottom: 0.5em;
    

}

.fabricante__botao{
    padding: 0.4em 0.4em;
    background-color: var(--laranja);
    color: var(--branco);
    font-family: "Titillium Web", sans-serif;
    font-weight: 500;
    font-size: 16px;
    border-radius: 0.5em;
    width: 3.3em;
    text-align: center;
}

.equipamento{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.equipamento-imagem{
    max-width: 80px;
    height: auto;
    transition: all 0.3s ease;
    
}

.equipamento-imagem:hover{
    background-color: #f8a982;
    border-radius: 10px;
    transform: scale(1.1);
}



*/