/* configuração iphone 12 pro*/

.main {
    margin: 0.2em;
    padding: 0.2em;
}

.campoTexto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3.2em 0 0 0;
}

.titulo {
    text-align: center;
    margin: 0.5em 0 0.5em 0;
    color: var(--gray-800);
}

.campoTexto-img {
    height: 3rem;
    width: auto;
    margin-bottom: 0.5rem;
    opacity: 0.75;
}

.builder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin-bottom: 1em;
}


.builder-button {
    padding: 0.5em 0.7em 0.5em 0.4em;
    background-color: var(--dark-blue);
    color: var(--branco);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    border-radius: 0.5em;
    width: 4.4em;
    text-align: center;
    box-shadow: 2px 2px 2px rgba(15, 15, 15, 0.463);
}

.container-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6px;
    justify-items: center;
    align-items: center;
    z-index: 0;
}

.card-modelo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--branco);
    box-shadow: 0px 0px 6px rgba(9, 9, 9, 0.463);
    border-radius: 0.5em;
    height: 11em;
    width: 90%;
    opacity: 95%;
    cursor: pointer;
}

.modelo-titulo {
    margin-top: 0.5em;
}

.modelo-imagem {
    display: block;
    max-width: 9em;
    height: 7em;
    border-radius: 10px;
    transition: all 0.5s ease;
    margin-top: .5em;
}

.card-modelo:hover {
    background-color: #eee;
}

.card-modelo:hover .modelo-imagem {
    transform: scale(1.2);

}


.modelo-imagem:active {
    border-radius: 10px;
    transform: scale(1.02);
}

.modelo-link:active {
    background-color: transparent;
    outline: none;
}

a {
    color: currentColor;
}

.activ {
    box-shadow: 2px 2px 2px rgba(9, 9, 9, 0.463);
    background-color: var(--light-blue);
    transition: padding 0.5s ease-in-out;
}



/* -----------------configuração tablet-----------------------*/

/*

h1, h2{

}

.manuais{
    background-color: #f7f7f7;
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 10px;

}

.fabricante{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin-bottom: 0.5em;
    

}

.fabricante__botao{
    padding: 0.4em 0.4em;
    background-color: var(--laranja);
    color: var(--branco);
    font-family: "Titillium Web", sans-serif;
    font-weight: 500;
    font-size: 16px;
    border-radius: 0.5em;
    width: 3.3em;
    text-align: center;
}

.equipamento{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.equipamento-imagem{
    max-width: 80px;
    height: auto;
    transition: all 0.3s ease;
    
}

.equipamento-imagem:hover{
    background-color: #f8a982;
    border-radius: 10px;
    transform: scale(1.1);
}



*/