.card-list {
    display: flex;
    flex-direction: row;
}

.card-item {
    height: 150px;
    width: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-color: rgb(255, 255, 255,0.8);
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(9, 9, 9, 0.463);
    margin-left: 10px;
}
.card-image {
    height: 90%;
    width: auto;
    
}
.card-name {
    font-family: "Montserrat", sans-serif;
    color: rgb(0, 0, 0,0.8);
    font-size: 16px;
    font-weight: 500;
    box-sizing: border-box;
    text-align: center;
}