.manuais-container {
    padding: 1em;
    margin: 1em;
}

.manuais-lista {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.manuais-item {
    background-color: var(--branco);
    padding: 1em;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(15, 10, 10, 0.463);
    text-align: center;
    opacity: 0.9;
    border: 1px solid var(--gray-500);
}

a {
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1em;
}