.manuais-container {
    padding: 1em;
    margin: 1em;
}

.manuais-lista {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.titulo-principal {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    color: var(--gray-800);
}

.manuais-item {
    background-color: var(--branco);
    padding: 1em;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(9, 9, 9, 0.463);
    text-align: center;
    border: 1px solid var(--gray-500);
    opacity: 0.9;
    /* transform: translateX(30px); */
    transition: all 1s ease-out;
}

.manuais-link {
    text-decoration: none;
    font-weight: 300;
}

/* animation list item*/


.fade-in-up {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s ease-out forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}